.LoadingContainer {
    /*display: none;*/
}

.Loading {
    -webkit-animation: loading 2s infinite alternate linear;
            animation: loading 2s infinite alternate linear;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

@-webkit-keyframes loading {
    0% {
        font-size: 14px;
    }
    15% {
        margin-top: 300px;
    }
    32% {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    50% {
        font-size: 120px;
        color: pink;
        background: blue;
    }
    64% {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }
    100% {
        font-size: 240px;
    }
}

@keyframes loading {
    0% {
        font-size: 14px;
    }
    15% {
        margin-top: 300px;
    }
    32% {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    50% {
        font-size: 120px;
        color: pink;
        background: blue;
    }
    64% {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }
    100% {
        font-size: 240px;
    }
}

